@charset "UTF-8";

[lang="ko"] {
	font-family: "Noto Sans KR", "Montserrat", sans-serif, "맑은 고딕",
		"Nanum Gothic", "나눔 고딕", "돋움", dotum, sans-serif;
}

[lang="en"] {
	font-family: "Montserrat", "Noto Sans KR", sans-serif;
	letter-spacing: 0;
	font-weight: 400;
}


header{position:relative;}


.form-label {
    margin-bottom: 0.5rem;
}

.form-input {
	display: block;
	width: 100%;
	padding: 0.75rem 0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	border-bottom: 1px solid #ced4da;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	background-color: #fff;
	background-clip: padding-box;
}

